<article id="resident-show" class="main-article">
  <h4> <%= @resident.first_name %> <%= @resident.last_name %> </h4>
  <ul>
    <li>DOB: <%= @resident.dob%></li>
    <li>Room Number: <%= @resident.room.room_no%></li>
  </ul>
  <%= link_to "Edit Resident", resident_edit_url %>
  <%= link_to "Remove Resident", @resident, method: :delete, data: { confirm: 'Remove Resident?' } %>
</article>