<article id="room-index" class="main-view">
  <h3>Rooms</h3>
  <table class="main-table">
    <tr>
      <th>Room Number</th>
      <th>Premier</th>
      <th>En Suite</th>
      <th>Capacity</th>
    </tr>
    <% @rooms.each do |room|%>
    <tr>
      <td><%= room.room_no %></td>
      <td><%= room.premier %></td>
      <td><%= room.en_suite %></td>
      <td><%= room.capacity %></td>
      <td><%= link_to "View Details", room_path(room) %></td>
    </tr>
    <% end %>
  </table>
</article>